                <li class="list-group-item"><a href="/run/{{id}}"> {{name}}</a>
                <a>{{user.name}}</a>
                <a>ran {{distance_ran}} miles in {{time_ran}} minutes.</a>
                </li>