 <body>
    <div class="container my-3 my-sm-5">
      <h1 class="mb-3 mb-sm-5 text-center">Leader Boards</h1>
      <div class="row">
        <div class="col-12 col-md-4 mb-4">
          <div class="card card-outline-success text-center">
            <div class="card-header bg-success text-white">
              <h2>Today's Best</h2>
              <h4>sub title if we want</h4>
            </div>
            <div class="card-block">
              <p class="card-text text-left my-2 text-center">
                description if we want
              </p>
            </div>
            <ul class="list-group small">
              {{#if runs.length}}
                {{#each runs as |run|}}
                <li class="list-group-item"><a href="/run/{{run.id}}"> {{run.name}}</a>
                <a>Ran {{run.distance_ran}} miles in {{run.time_ran}} minutes.</a>
                </li>
                {{/each}}
                {{/if}}

            </ul>
            <div class="card-footer">
              <button type="button" class="btn btn-success btn-lg">
                Change category 
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card card-outline-warning text-center">
            <div class="card-header bg-warning text-white">
              <h2>All Time Best</h2>
              <h4>Sub title</h4>
            </div>
            <div class="card-block">
              <p class="card-text text-left my-2 text-center">
                description
              </p>
            </div>
            <ul class="list-group small">
             {{#if runs.length}}
                {{#each runs as |run|}}
                <li class="list-group-item"><a href="/run/{{run.id}}"> {{run.name}}</a>
                <a>Ran {{run.distance_ran}} miles in {{run.time_ran}} minutes.</a>
                </li>
                {{/each}}
                {{/if}}

            </ul>
            <div class="card-footer">
              <button type="button" class="btn btn-warning btn-lg">
                Change category
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="card card-outline-danger text-center">
            <div class="card-header bg-danger text-white">
              <h2>Personal</h2>
              <h4> {{name}}'s runs</h4>
            </div>
            <div class="card-block">
              <p class="card-text text-left my-2 text-center">
                description
              </p>
            </div>
            <ol class="list-group small">
                {{#if runs.length}}
                {{#each runs as |run|}}
                <li class="list-group-item"><a href="/run/{{run.id}}"> {{run.name}}</a>
                <a>Ran {{run.distance_ran}} miles in {{run.time_ran}} minutes.</a>
                </li>
                {{/each}}
                {{/if}}

            </ol>
            <div class="card-footer">
              <button type="button" class="btn btn-danger btn-lg">
                Select
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>