<div class="text-center">
  <h2>{{name}}</h2>
  <p>Distance ran: {{distance_ran}} miles</p>
  <p>Time ran: {{time_ran}} (format hh:mm:ss)</p>
  <p>Latitude: {{lat}}</p>
  <p>Longitude: {{lng}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
